.LiItemRoot {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0px gray;
  width: 100%;
  min-width: 200px;
  text-overflow: ellipsis;
}

.LiItemDelete {
  cursor: pointer;
  padding: 5px;
}

.LiItemDelete:hover {
  transform: scale(1.2);
  transition: "transform 0.15s linear";
  background-color: gray;
  color: white;
  border-radius: 10px;
}

.ListItemImageNameRoot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ListItemImage {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
